<%- include('../components/validation-error') -%>

<h1>dashboard</h1>
<h2>hi <%= req.user.name %> </h2>
<img src="<%= req.user.img %>" style="width: 100px;border-radius: 50%;" alt="">
<form action="/dashboard/edituser" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="name" name="name" value="<%= req.user.name%>" >
    <input type="file" name='img'>
    <input type="submit" value="send">
</form>
<h3>اعتبار کنونی شما <%= req.user.balance %></h3>
<form action="/dashboard/pay" method="POST" style="border:  1px solid green;">
    <h2>اعتبار حساب کاربری خود را به مقدار دلخواه افزایش دهید</h2>
    <input type="number" name="amount" placeholder="مبلغ دلخواه">
    <input type="submit"  value="پرداخت">
</form>
<a href="/logout">logout</a>